<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/admins/edit/{{lin.id}}" method="post">
                        <div class="form-group">
                            <input type="text" name="name_pain" value="{{lin.name_pain}}" id="" class="form-control" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" name="price_pain" value="{{lin.price_pain}}" id="" class="form-control">
                        </div>
                        <div class="form-group">
                            <textarea name="description" id="" cols="30" rows="2" class="form-contol">{{lin.description}}</textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-success form-control">Editer</button>
                        </div>
                    </form>
            </div>
        </div>
        </div>
    </div>
</div>